@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

/* Mending semua elemen navbar [logo, list, login] pas hover dibikin lebih gede diki apa sebagiaan aja / gk ush pake? */

body{
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa';
    hyphens: auto;
    background-color: #000000;
    color: white;
    /* rgb(7, 7, 7); */
    /* background-color: white; */
}

a
{
    text-decoration: none;
}

.navbar{
    display:flex;
    /*background-color: transparent;/*rgb(7, 7, 7);*/
    background-image: linear-gradient(black,#000000d2, transparent);
    flex-direction: row;
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

#logo-left
{
    width: 100%;
    /* height: 10%; */
    object-fit: contain;
    transition: transform .2s; /*time for transform*/
}

#logo-left:hover
{
    transform: scale(1.05); /*how much it transforms*/
}


.bannerish
{
    width: 100%;
    /* height: 100vh; */
    object-fit: contain;
    /* transform: scale(1); */
}

.logo-a
{
    width: 10%;
}

ul, li
{
    list-style: none;
}

/*#mainMenu
{
    display: flex;
    align-content: center;
    padding: 0;
}*/

#mainMenu
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    /* align-content: space-around; */
    justify-content: space-between;
    width: 40%;
    font-size: 30px;
    padding: 0;
}

#mainMenu li
{ 
    display: flex;
    align-self: stretch;
}

#mainMenu a
{
    text-decoration: none;
    color: white;
    border-bottom: 3px solid transparent;
    transition: transform .2s; /*time for transform*/
}

#mainMenu .selected
{
    border-bottom: 3px solid #1abecd;
    transform: scale(1.05);
    font-weight: bolder;
}

#mainMenu a:hover
{
    /* color: #00636c; */
    border-bottom: 3px solid #1abecd;
    transform: scale(1.05); /*how much it transforms*/
}

#LoginButton
{
    margin : 10px;
    background-color: #1abecd;
    border: none;
    color: white;
    padding: 12px 26px;
    text-align: center;
    text-align: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 15px;
    transition: transform .2s; /*time for transform*/
}

#LoginButton:hover
{
    transform: scale(1.05); /*how much it transforms*/
    /*color: #00636c;*/
}

.center-in-img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
}

.content-image
{
    color: white;
    text-align: center;
    margin: 0px;
}

.content-image h1 {
    font-size: 60px;
    margin: 0px;
}

.content-image h2 {
    font-weight: normal;
}

#SignUpButton
{
    margin : 10px;
    background-color: #1abecd;
    border: none;
    color: white;
    padding: 18px 39px;
    text-align: center;
    text-align: none;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    border-radius: 15px;
    transition: transform .2s; /*time for transform*/
}

#SignUpButton:hover{
    transform: scale(1.05);
}

.perks{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:0;
}

.title{
    font-weight: bold;
    font-size:50px;
    margin: 5%;
}


.perks-list{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.perks-container{
    width: 25vw;
    margin: 2%;
    text-align: center;
}

.perks-gold{
    border-style: solid;
    border-color: rgb(251,199,54);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.perks-gold h1{
    color: rgb(251,199,54);
}

.perks-silver{
    border-style: solid;
    border-color: rgb(180,180,180);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.perks-silver h1{
    color: rgb(180,180,180);
}

.perks-bronze{
    border-style: solid;
    border-color: rgb(211, 84, 0);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.perks-bronze h1{
    color: rgb(211, 84, 0);
}

.new-feature{
    font-weight: bold;
    color:#1abecd;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25% 0 0 0;
}

.footer a img{
    object-fit: contain;
    width: 30px;
}

.copyrite{
    font-size: x-small;
}




.navbar-responsive{
    display:none;
    background-image: linear-gradient(black,#000000d2, transparent);
    flex-direction: row;
    height: 11%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
    position: fixed;
    top: 0;
    /* width: 100vw; */
    z-index: 1000;
}

.hamburger-menu{
    width: 8%;
    display: none;
    margin: 5%;
}


/* FOR NAVBA*/
@media screen and (max-width: 900px) {
    .navbar
    {
        display: none;
    }
    .navbar-responsive
    {
        justify-content: space-between;
        display: flex;
    }
    .logo-a
    {
        width: 25%;
    }
    .hamburger-menu
    {
        display: block;
        width: 5%;
    }
    #LoginButton
    {
        margin: 15px;
        padding: 8px 18px;
        font-size: 12px;
    }

    .overlay {
        height: 0;
        width: 100%;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
      }
      
      .overlay-content {
        position: relative;
        top: 15%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      
      .overlay a {
        padding: 5%;
        text-decoration: none;
        font-size: 6vh;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .overlay .closebtn {
        position: absolute;
        top: 4%;
        left: 5%;
        font-size: 60px;
        width: 5%;
      }
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 0 0 0;
}

.footer a img{
    object-fit: contain;
    width: 30px;
}

.copyrite{
    font-size: x-small;
}