@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

/* Mending semua elemen navbar [logo, list, login] pas hover dibikin lebih gede diki apa sebagiaan aja / gk ush pake? */

body{
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa';
    hyphens: auto;
    background-color: #000000;
    color: white;
    /* rgb(7, 7, 7); */
    /* background-color: white; */
}

a
{
    text-decoration: none;
}

.navbar{
    display:flex;
    /*background-color: transparent;/*rgb(7, 7, 7);*/
    background-image: linear-gradient(black,#000000d2, transparent);
    flex-direction: row;
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

#logo-left
{
    width: 100%;
    /* height: 10%; */
    object-fit: contain;
    transition: transform .2s; /*time for transform*/
}

#logo-left:hover
{
    transform: scale(1.05); /*how much it transforms*/
}


.bannerish
{
    width: 100%;
    /* height: 100vh; */
    object-fit: contain;
    /* transform: scale(1); */
}

.logo-a
{
    width: 10%;
}

ul, li
{
    list-style: none;
}

/*#mainMenu
{
    display: flex;
    align-content: center;
    padding: 0;
}*/

#mainMenu
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    /* align-content: space-around; */
    justify-content: space-between;
    width: 40%;
    font-size: 30px;
    padding: 0;
}

#mainMenu li
{ 
    display: flex;
    align-self: stretch;
}

#mainMenu a
{
    text-decoration: none;
    color: white;
    border-bottom: 3px solid transparent;
    transition: transform .2s; /*time for transform*/
}

#mainMenu .selected
{
    border-bottom: 3px solid #1abecd;
    transform: scale(1.05);
    font-weight: bolder;
}

#mainMenu a:hover
{
    /* color: #00636c; */
    border-bottom: 3px solid #1abecd;
    transform: scale(1.05); /*how much it transforms*/
}

#LoginButton
{
    margin : 10px;
    background-color: #1abecd;
    border: none;
    color: white;
    padding: 12px 26px;
    text-align: center;
    text-align: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 15px;
    transition: transform .2s; /*time for transform*/
}

#LoginButton:hover
{
    transform: scale(1.05); /*how much it transforms*/
    /*color: #00636c;*/
}

.center-in-img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
}

.content-image
{
    color: white;
    text-align: center;
    margin: 0px;
}

.content-image h1 {
    font-size: 60px;
    margin: 0px;
}

.content-image h2 {
    font-weight: normal;
}

#SignUpButton
{
    margin : 10px;
    background-color: #1abecd;
    border: none;
    color: white;
    padding: 18px 39px;
    text-align: center;
    text-align: none;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    border-radius: 15px;
    transition: transform .2s; /*time for transform*/
}

#SignUpButton:hover{
    transform: scale(1.05);
}





/* Slideshow container */
.slideshow-container {
    position: relative;
    background:#000000;
  }
  
  /* Slides */
  .mySlides {
    /* display: none; */
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    transition: transform .2s;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #1abecd;
    color: white;
    transform: scale(1.05);
  }


.image-slider
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 0 5% 0;
}

.container-container
{
    width: 70%;
}

  .container-container h1
  { 
    text-align: center;
  }

  .fade-in {
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 0.75s;
    animation-name: fade-in;
    animation-duration: 0.75s;
  }
  
  @-webkit-keyframes fade-in {
    from {opacity: 0.1}
    to {opacity: 1}
  }
  
  @keyframes fade-in {
    from {opacity: 0.1}
    to {opacity: 1}
  }


  
.row-container-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30vh;
    justify-content: space-between;
    justify-items: stretch;
}

.column-container-container
{
    flex: 50%;
}

.column-container-container p{
    font-size: large;

}

.mov-poster-img
{
    object-fit: contain;
    width: 50%;
}

#mov-title
{
    text-align: left;
}

h1
{
    font-size: 50px;
}

#mov-desc
{
    text-align: left;
    font-size: 18px;
}

.leadership{
    height: 100vh;
}


.leader-title{
    margin: 0 0 5% 0;
}


.leadership{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.row-control{
    display: flex;
    width: 80%;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    margin: 5% 10% 5% 10%;
}

.leader-container{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform .2s;
    margin: 0 10% 0 10%;
}

.leader-container:hover{
    transform: scale(1.02);
}
 

.leader-name{
    margin: 5% 0 2% 0;
}

.leader-job{
    margin: 0 0 10% 0;
}

.leader-img{
    object-fit: contain;
    width: 15vw;
}

.leader-name{
    color: #1abecd;
    font-weight: bolder;
    font-size:x-large;
}

.career{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.career h1{
    margin: 0 0 1% 0;
}

.career p{
    margin: 0 0 2% 0;
}

#CareerButton
{
    margin : 10px;
    background-color: #1abecd;
    border: none;
    color: white;
    padding: 12px 26px;
    text-align: center;
    text-align: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 15px;
    transition: transform .2s; /*time for transform*/
}

#CareerButton:hover
{
    transform: scale(1.05); /*how much it transforms*/
    /*color: #00636c;*/
}


.navbar-responsive{
    display:none;
    /*background-color: transparent;/*rgb(7, 7, 7);*/
    background-image: linear-gradient(black,#000000d2, transparent);
    flex-direction: row;
    height: 11%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
    position: fixed;
    top: 0;
    /* width: 100vw; */
    z-index: 1000;
}

.hamburger-menu{
    width: 8%;
    display: none;
    margin: 5%;
}

@media screen and (max-width: 900px) {
    .navbar
    {
        display: none;
    }
    .navbar-responsive
    {
        justify-content: space-between;
        display: flex;
    }
    .logo-a
    {
        width: 25%;
    }
    .hamburger-menu
    {
        display: block;
        width: 5%;
    }
    #LoginButton
    {
        margin: 15px;
        padding: 8px 18px;
        font-size: 12px;
    }

    .overlay {
        height: 0;
        width: 100%;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
      }
      
      .overlay-content {
        position: relative;
        top: 15%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      
      .overlay a {
        padding: 5%;
        text-decoration: none;
        font-size: 6vh;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .overlay .closebtn {
        position: absolute;
        top: 4%;
        left: 5%;
        font-size: 60px;
        width: 5%;
      }
}